{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<h5 class="my-header" id="pubKey-label">public key</h5>
		<input type="text" id="pubKey" class="my-input"></input>
		<br><br>
		<h5 class="my-header">private key</h5>
		<input type="password" id="privKey" class="my-input"></input>
		<br><br>
		<button type="button" id="remove-account" class="my-button">remove account</button>
		<br><br>
		<p id="remove-account-msg"></p>
	</div>
	<script type="text/javascript">
		$(function() {
			var socket = io();
			$('#remove-account').bind('click', function() {
				var valid_entry = true;
				var pubKeyString = $('#pubKey').val();
				if (pubKeyString.length == 0) {
					$('#pubKey-label').html("<span style='color:red;'>enter public key</span>"); 
					valid_entry = false;
				}
				var privKeyString = $('#privKey').val();
				if (privKeyString.length == 0) {
					$('#privKey-label').html("<span style='color:red;'>enter private key</span>"); 
					valid_entry = false;
				}
				if (valid_entry) {
					$('#pubKey-label').html("<span style='color:black;'>public key</span>"); 
					$('#privKey-label').html("<span style='color:black;'>private key</span>"); 
					socket.emit('remove-account', pubKeyString, privKeyString)
					socket.on('remove-account-msg', function(msg) {
						$('#remove-account-msg').html(msg)
					})
				}
			})
		})
	</script>
{{end}}