{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<h5 class="my-header" id="formID-label">form ID</h5>
		<input type="text" id="formID" class="my-input"></input>
		<br><br>
		<h5 class="my-header" id="pubKey-label">public key</h5>
		<input type="text" id="pubKey" class="my-input"></input>
		<br><br>
		<h5 class="my-header" id="privKey-label">private key</h5>
		<input type="password" id="privKey" class="my-input"></input>
		<br><br>
		<button type="button" id="resolve" class="my-button">resolve</button>
		<br><br>
		<p id="resolve-form-msg"></p>
	</div>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		var socket = io();
		$('#resolve').bind('click', function() {
			var valid_entry = true;
			var formID = $('#formID').val();
			if (formID == null) {
				$('#formID-label').html("<span style='color:red;'>enter form ID</span>"); 
				valid_entry = false;
			}
			var pubKeyString = $('#pubKey').val();
			if (pubKeyString == null) {
				$('#pubKey-label').html("<span style='color:red;'>enter public key</span>"); 
				valid_entry = false;
			}
			var privKeyString = $('#privKey').val();
			if (privKeyString == null) {
				$('#privKey-label').html("<span style='color:red;'>enter private key</span>"); 
				valid_entry = false;
			}
			if (valid_entry) {
				$('#formID-label').html("<span style='color:black;'>form ID</span>"); 
				$('#pubKey-label').html("<span style='color:black;'>public key</span>"); 
				$('#privKey-label').html("<span style='color:black;'>private key</span>"); 
				socket.emit('resolve-form',formID, pubKeyString, privKeyString)
				socket.on('resolve-form-msg', function(msg){
					$('#resolve-form-msg').html(msg)
				})
			}
			// redirect
		})
	})
	</script>

{{end}}