{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		
		<div class="container col-md-6">
			<h5 class="my-header" id="create-label">create a new admin</h5><br>
			<input type="password" id="secret" class="my-input" placeholder="secret" />
			<br><br>
			<input type="text" id="create-pubKey" class="my-input" placeholder="public key" />
			<br><br>
			<input type="password" id="create-privKey" class="my-input" placeholder="private key" />
			<br><br>
			<button type="button" id="create" class="my-button">create</button>
			<br><br>
			<p id="create-msg" style="display: none;"></p>
		</div>
		<div class="container col-md-6">
			<h5 class="my-header" id="remove-label">remove an existing admin</h5><br>
			<input type="text" id="remove-pubKey" class="my-input" placeholder="public key" />
			<br><br>
			<input type="password" id="remove-privKey" class="my-input" placeholder="private key" />
			<br><br>
			<button type="button" id="remove" class="my-button">remove </button>
			<br><br>
			<p id="remove-msg" style="display: none;"></p>
		</div>
	</div>
	<script type="text/javascript">
		window.onload = function() {

			var wsCreate = new WebSocket("ws://localhost:8888/create_admin");

			var valid_entry = true;
			var pubKey = "";
			var privKey = "";
			var secret = "";

			$("#create").bind("click", function() {
				valid_entry = true;
				secret = $("#secret").val();
				if (secret.length == 0) {
					$("#secret").attr("placeholder", "enter secret");
					valid_entry = false;
				};
				pubKey = $("#create-pubKey").val();
				if (pubKey.length == 0) {
					$("#create-pubKey").attr("placeholder", "enter public key");
					valid_entry = false;
				};
				privKey = $("#create-privKey").val();
				if (privKey.length == 0) {
					$("#create-privKey").attr("placeholder", "enter private key");
					valid_entry = false;
				};
				if (valid_entry) {
					wsCreate.send(secret);
					wsCreate.send(pubKey);
					wsCreate.send(privKey);
				};
			});

			wsCreate.onmessage = function (msg) {
				$("#create-msg").show(100, "linear").html(msg.data);
			};
			wsCreate.onclose = function() {
				console.log("CREATE ACCOUNT socket closed");
			};

			var wsRemove = new WebSocket("ws://localhost:8888/remove_admin");

			$("#remove").bind("click", function(){
				valid_entry = true;
				pubKey = $("#remove-pubKey").val();
				if (pubKey.length == 0) {
					$("#remove-pubKey").attr("placeholder", "enter public key");
					valid_entry = false;
				};
				privKey = $("#remove-privKey").val();
				if (privKey.length == 0) {
					$("#remove-privKey").attr("placeholder", "enter private key");
					valid_entry = false;
				};
				if (valid_entry) {
					wsRemove.send(pubKey);
					wsRemove.send(privKey);
				};
			});

			wsRemove.onmessage = function (msg) {
				$("#remove-msg").show(100, "linear").html(msg.data);
			};
			wsRemove.onclose = function() {
				console.log("REMOVE ACCOUNT socket closed");
			};
		}
	</script>
{{end}}