<!--
{{define "body"}}
	<div class="container">
		<h5 class="my-header">secret</h5>
		<input type="password" id="secret" class="my-input"></input>
		<br><br>
		<button type="button" id="create-account" class="my-button">create account</button>
		<br><br>
		<p id="create-account-msg" style="display: hidden;"></p>
	</div>
	<script type="text/javascript">
		$(function() {
			var socket = io();
			$('#create-account').bind('click', function() {
				var valid_entry = true
				var secret = $('#secret').val();
				if (secret.length == 0) {
					$('#secret-label').html("<span style='color:red;'>enter secret</span>")
					valid_entry = false
				}
				if (valid_entry) {
					$('#secret-label').html("<span style='color:black;'>secret</span>");
					socket.emit('create-account', secret)
					socket.on('create-account-msg', function(msg) {
						$('#create-account-msg').show(100, "linear").html(msg)
					})
				}
			})
		})
	</script>
{{end}}
-->