{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container col-md-6">
		<h5 class="my-header">find a form</h5><br>
		<input type="text" id="formID" class="my-input" placeholder="form ID" />
		<br><br>
		<button type="button" id="find" class="my-button">find</button>
		<br><br>
		<p id="find-msg" style="display: none;"></p>
	</div>
	<div class="container col-md-6">

		<h5 class="my-header">after</h5>
            <div class="form-group">
            <div class="input-group date" id="after">
                <input type="text" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $("#after").datetimepicker();

            });
        </script>
		<br>
		<h5 class="my-header">before</h5>
        <div class="form-group">
            <div class="input-group date" id="before">
                <input type="text" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $("#before").datetimepicker();
            });
        </script>
		<br>
		<select id="search-issues"></select> 
		<br><br><br><br>
		<select id="status">
			<option value="">select status</option>
			<option value="unresolved">unresolved</option>
			<option value="resolved">resolved</option>
		</select>
		<br><br><br><br>
		<button type="button" id="search" class="my-button">search</button>
		<br><br>
		<div id="search-msg"></div>
	</div>
	<script type="text/javascript" charset="utf-8">
	window.onload = function() {

		// Get issues 

		var wsIssues = new WebSocket("ws://localhost:8888/get_issues");
			
		wsIssues.onmessage = function(msg) {
			console.log(msg.data);
			$("#submit-issues").html(msg.data);
			$("#search-issues").html(msg.data);
		}

		wsIssues.onclose = function() {
			console.log("GET ISSUES socket closed");
		}

		// Find form

		var wsFind = new WebSocket("ws://localhost:8888/find_form");

		var formID = "";

		$("#find").bind("click", function() {
			valid_entry = true;
			formID = $("#formID").val();
			if (formID.length == 0) {
				$("#formID").attr("placeholder", "enter form ID");
				valid_entry = false;
			};
			if (valid_entry) {
				wsFind.send(formID);
			};
		});

		var extension = "";

		wsFind.onmessage = function(msg) {
			if (msg.data.length < 1000) {
				$("#find-msg").show(100, "linear").html(msg.data);
			} else {
				msg.data.type = $("#media").attr("name");
				var video = document.getElementById("media");
				video.src = window.URL.createObjectURL(msg.data);
			};
		}

		wsFind.onclose = function(msg) {
			// console.log("FIND FORM socket closed");
		}

		// Search forms 

		var wsSearch = new WebSocket("ws://localhost:8888/search_forms")

		var status = "";

		$("#search-issues").on("change", function(){
			var content = $("#search-msg").html();
			if (content.length > 0) {
				$("#search-msg").html("");
			}
		});

		$("#status").on("change", function(){
			var content = $("#search-msg").html();
			if (content.length > 0) {
				$("#search-msg").html("");
			}
		});

		$("#search").bind("click", function() {
			issue = $("#search-issues").val();
			if (issue.length > 0) {
				$("#search-issues").css("border-color", "lightgray"); 
				var after = $("#after").data("DateTimePicker").date();
				console.log(after);
				var before = $("#before").data("DateTimePicker").date();
				status = $("#status").val();

				wsSearch.send(after);
				wsSearch.send(before);
				wsSearch.send(issue);
				wsSearch.send(status);
			} else {
				$("#search-issues").css("border-color", "red"); 
			}
		});

		wsSearch.onmessage = function(msg) {
			console.log(msg.data);
			$("#search-msg").append("<p>"+msg.data+"</p>");
		}

		wsSearch.onclose = function() {
			console.log("SEARCH FORMS socket closed");
		}
	}
	</script>

{{end}}