{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<style type="text/css">

  h1 { 
    color: #4ea3b7;
    font-size: 12pt;
    margin-top: 0px;
    font-family: Source Sans Pro;
    display:inline-block;
    align-items: center;
  }

  h2 {
    color:white; 
    font-size:14px; 
    font-family: source sans pro; 
    text-align:center;
  }

  button {
    background-color:#e6f4ee;
    border-style: solid;
    border-width: thin;
    border-color: #4ea3b7;
    color: #4EA3B7; 
    padding: 8px 38px; 
    font-family: Source Sans Pro;
    font-size: 10pt;
    text-align: center;
    display: inline-block;
    margin: 2px 4px;
    margin-top: 10px;
  }

  .btn-1 {
    margin-top: 18px;
    display: inline-block;
  }

  .btn-1:hover {
    background-color: #4ea3b7;
    color: white;
  }

  .btn-2 {
    background-color: #4ea3b7;
    border-color:white;
    border-style:solid;
    border-width: thin;
    color: white; 
  }

  .btn-2:hover {
    background-color:white;
    color:#4ea3b7;
  }

  div {
    position: fixed;
    right:0;
    left:0;
    bottom: 300px;
  }

  .section {
    box-shadow: 4px 4px 8px;
    border-radius: 4px;
    opacity: 0.7;
    background-color: #4ea3b7;
    position: fixed;
    width: 300px;
    height: 280px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin:5px;
    font-family: source sans pro;
    text-align: center;
    color:#4ea3b7;
    font-size: 12px;
    top: 30%;
    left: 15%;
  }

  .my-input {
    margin-left: +20px;
    font-family: source sans pro;
    color: #4ea3b7;
    width: 260px;
    font-size: 14px;
    padding-left: 10px; 
    padding-right: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  .container {
    position:fixed;
    bottom: 35%;
  }

  footer { 
    position: absolute;
    right:0;
    bottom:0;
    left: 0;
    font-family: Source Sans Pro;
    font-size: 10pt;
    text-align: center;
    background-color: #4ea3b7;
    padding: 12px;
    color: white;
    display: block;
  }

  .animate-opacity {
    -webkit-animation: opac 0.8s;
    animation: opac 0.8s;
  }

  .modal {
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
  }

</style>

<div>
  <center><img src="/static/images/logo.png" width="450" height="180" alt=""/></center> 
  <center><h1>somewhere&nbsp&nbsp>&nbsp&nbspsomething&nbsphappens&nbsp&nbsp>&nbsp&nbspcomit&nbspit</h1> </center>
</div>

<div class="container">
<center><button onclick="document.getElementById('login').style.display='block'" class="btn-1" >login</button>
<button onclick="document.getElementById('create-account').style.display='block'" class="btn-1" >create account</button>
</center>

<div id="login" class="modal animate-opacity">
 <form id="login-form" class="container">
  <div class="section">
    <h2>login</h2>
    <input class="my-input" type="text" name="pub_key" placeholder="public key" required />
    <input class="my-input" type="password" name="priv_key" placeholder="private key" required />
    <input class="btn-2" type="submit" value="enter" />
  </div> 
  </form>
</div>

<div id="create-account" class="modal animate-opacity">
   <form id="create-account-form" class="container">
    <div class="section" style="margin-left: 720px;"> <!-- better way to right align this? -->
      <h2>create an account</h2>
      <input class="my-input" type="text" name="username" placeholder="username" required /><br>
      <input class="my-input" type="password" name="password" placeholder="password" required />
      <input class="btn-2" type="submit" value="create"/>
    </div>
  </form>
</div>

<script type="text/javascript">

// TODO: javascript -> JQuery 

function httpPostAsync(addr, data, callback) {
   
    var xhr = new XMLHttpRequest ();

    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          callback(xhr.responseText);
        } else {
          alert(xhr.responseText);
        };
      };
    };

    xhr.open("POST", addr, true); 
    xhr.send(data);
};


window.onclick = function(event) {

  var login = document.getElementById("login");
  var createAccount = document.getElementById("create-account");

  if (event.target == document.getElementById("login")) {
     login.style.display = "none";
  }; 

  if (event.target == document.getElementById("create-account")) {
     createAccount.style.display = "none";
  };
}

// Callbacks

var loginCallback = function(responseText) {

  var json = JSON.parse(responseText);

  if (json.action == "login" && json.error == null)  {

    window.location.replace("http://localhost:8888/citizen");

  } else {

    console.log(json);

  };
};

var createAccountCallback = function(responseText) {

  var json = JSON.parse(responseText);

  console.log(json); //for now
};


window.onload = function(){

    // Login

    var loginForm = document.getElementById("login-form");

    loginForm.onsubmit = function(event) {

      event.preventDefault();
      
      var formData = $("#login-form").serialize();

      httpPostAsync("http://localhost:8888/login", formData, loginCallback);

    };


    // Create account 

    var createAccountForm = document.getElementById("create-account-form");

    createAccountForm.onsubmit = function(event) {

      event.preventDefault();

      var formData = $("#create-account-form").serialize();    

      httpPostAsync("http://localhost:8888/create_account", formData, createAccountCallback); 

    };
}
</script>
</div>
</div>
</div>
<footer class="site-footer"></footer>
{{end}}



