(f{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container" id="connect-container">
		<h5 class="my-header" id="connect-label">connect to network</h5><br>
		<input type="text" id="pubKey" class="my-input" placeholder="public key" />
		<br><br>
		<input type="password" id="privKey" class="my-input" placeholder="private key" />
		<br><br>
		<button type="button" id="connect" class="my-button">connect</button>
		<br><br>
		<p id="connect-msg" style="display: none;"></p>
	</div>
	<div class="container">
		<div class="container col-md-6" id="feed-container" style="display: none;">
			<div class="container" id="select-feed">
				<h5 class="my-header">choose feed</h5><br>
				<select class="select-picker" id="feed-issues" multiple></select>
				<br><br>
				<button type="button" id="update" class="my-button">update</button>
				<br><br>
			</div>
			<div class="container" id="animation" style="display: none;">
				<h5 class="my-header">updating feed...</h5><br>
				<div class="container" style="margin-left: 20px;">
					<div id="img2" class="img"></div>
					<div id="img3" class="img"></div>
					<div id="img4" class="img"></div>
					<div id="img5" class="img"></div>
					<div id="img6" class="img"></div>
				</div>
			</div>
			<br><br><br><br>
			<div id="feed"></div>
		</div>
		<!--
		<div class="container col-md-4" id="message-container" style="display: none;">
			<div class="row">
				<h5 class="my-header">send a message</h5><br>
				<input type="text" id="recipient" class="my-input" placeholder="recipient" />
				<br><br>
				<textarea id="message" class="my-textarea" placeholder="message"></textarea> 
				<br><br>
				<button type="button" id="send" class="my-button">send</button>
				<br><br>
				<p id="send-msg" style="display: none;"></p><br>
			</div>
			<div class="row">
				<h5 class="my-header">check messages</h5><br>
				<button type="button" id="check" class="my-button">check</button>
				<br><br>
				<div id="messages" style="display: none;"></div>
			</div>
		</div>
		-->
		<div class="container col-md-6" id="constituent-container" style="display: none;">
			<h5 class="my-header">submit a form</h5><br>
			<select id="submit-issues"></select>  
			<br><br>
			<input type="text" id="location" class="my-input" placeholder="location" />
			<br><br>
			<textarea id="description" class="my-textarea" placeholder="description"></textarea>
			<br><br>
			<input type="file" onchange="openFile(event)"/><br>
			<label class="checkbox-inline"><input type="checkbox" id="anonymous"> anonymous</label>
			<br><br>
			<!--
			<label class="checkbox-inline"><input type="checkbox" id="send-to-feed"> send to feed</label>
			<br><br>
			-->
 			<button type="button" id="submit" class="my-button">submit</button>
			<br><br>
			<p id="submit-msg" style="display: none;"></p>
		</div>
		<div class="container col-md-4" id="admin-container" style="display: none;">
			<h5 class="my-header">resolve a form</h5>
			<br><br>
			<input type="text" id="formID" class="my-input" placeholder="form ID" />
			<br><br>
			<button type="button" id="resolve" class="my-button">resolve</button>
			<br><br>
			<p id="resolve-msg" style="display: none;"></p>
		</div>
	</div>
	<script type="text/javascript">

	var media, extension;

	var openFile = function(event){

		var reader = new FileReader();
		var file = event.target.files[0];

		reader.onloadend = function(e){
			media = new Int8Array(e.target.result);
		};

		reader.readAsArrayBuffer(file);
		extension = (file.name).split(".")[1]
	};

	window.onload = function() {

		// Connect

		var wsConnect = new WebSocket("ws://localhost:8888/connect");

		var valid_entry = true;
		var pubKey, privKey;

		$("#connect").bind("click", function() {

			valid_entry = true;
			pubKey = $("#pubKey").val();

			if (pubKey.length == 0) {
				$("#pubKey").attr("placeholder", "enter public key");
				valid_entry = false;
			};

			privKey = $("#privKey").val();
			if (privKey.length == 0) {
				$("#privKey").attr("placeholder", "enter private key");
				valid_entry = false;
			};

			if (valid_entry) {
				wsConnect.send(JSON.stringify({
					"public-key": pubKey,
					"private-key": privKey,
				}));
			};
		})

		var json;

		wsConnect.onmessage = function (msg) {

			json = JSON.parse(msg.data) 

			if (json.connect == "success" && json.type == "constituent")  {

				$("#connect-container").hide(100, "linear");
				$("#feed-container").show(100, "linear");
				// $("#message-container").show(100, "linear");
				$("#constituent-container").show(100, "linear");

			} else if (json.connect == "success" && json.type == "admin") {

				$("#connect-container").hide(100, "linear");
				$("#feed-container").show(100, "linear");
				// $("#message-container").show(100, "linear");
				$("#admin-container").show(100, "linear");

			} else {
				console.log(json);
			};
		};

		wsConnect.onclose = function() {
			console.log("connect-account socket closed");
		};

		// Issues

		var wsIssues = new WebSocket("ws://localhost:8888/issues");
		
		wsIssues.onmessage = function(msg) {
			$("#feed-issues").html(msg.data);
			$("#submit-issues").html(msg.data);
		}

		wsIssues.onclose = function() {
			console.log("issues socket closed");
		}

		// Feed

		var wsFeed = new WebSocket("ws://localhost:8888/update-feed");

		$("#update").bind("click", function() {

			var issues = $("#feed-issues").val();

			if (issues.length > 0) {

				var j = JSON.stringify({
					"issues": issues,
					"public-key": pubKey,
					"private-key": privKey,
				});

				console.log(j);

				wsFeed.send(j);
			}

			$("#select-feed").hide(100, "linear");
			$("#animation").show(100, "linear");
			$(".img").css("display", "inline-block");
		})

		wsFeed.onmessage = function(msg) {
			$("#feed").hide(100,"linear");
			$("#feed").show(100, "linear").html("<p class='update'>"+msg.data+"</p>");
		}

		wsFeed.onclose = function() {
			console.log("update-feed socket closed");
		}
	
	/*
		NO MESSAGES FOR NOW

		// Check messages

		var wsCheck = new WebSocket("ws://localhost:8888/check_messages");

		$("#check").bind("click", function() {
			wsCheck.send(pubKey);
			$("#check").hide(100, "linear");
			$("#messages").show(100, "linear");
		})

		wsCheck.onmessage = function(msg) {
			console.log(msg.data);
			$("#messages").append("<p class='message'>"+msg.data+"</p>");
		}

		wsCheck.onclose = function() {
			console.log("CHECK MESSAGES socket closed");
		}

		// Send message 

		var wsSend = new WebSocket("ws://localhost:8888/send_message");

		var recipient = "";
		var message = "";

		$("#send").bind("click", function() {
			valid_entry = true;
			recipient = $("#recipient").val();
			if (recipient.length == 0) {
				$("#recipient").attr("placeholder", "enter recipient");
				valid_entry = false;
			}
			message = $("#message").val();
			if (message.length == 0) {
				$("#message").attr("placeholder", "enter message");
				valid_entry = false;
			}
			if (valid_entry) {
				wsSend.send(recipient);
				wsSend.send(message);
				wsSend.send(pubKey);
			}
		})

		wsSend.onmessage = function(msg) {
			$("#send-msg").show(100, "linear").html(msg.data);
		}

		wsSend.onclose = function() {
			console.log("SEND MESSAGE socket closed");
		}
		*/

		// Submit form
		
		var wsSubmit = new WebSocket("ws://localhost:8888/submit-form");

		var issue, location, description, anonymous; //sendtofeed

		$("#submit").bind("click", function() {

			if (json.type == "constituent") {

				valid_entry = true;

				issue = $("#submit-issues").val();
				if (issue.length == 0) {
					$("#submit-issues").css("border-color", "red");
					valid_entry = false;
				};

				location = $("#location").val();
				if (location.length == 0) {
					$("#location").attr("placeholder", "enter location"); 
					valid_entry = false;
				};

				description = $("#description").val();
				if (description.length == 0) {
					$("#description").attr("placeholder", "enter description"); 
					valid_entry = false;
				};

				anonymous = $("#anonymous").is(":checked");

				if (valid_entry) {

					$("#submit-issues").css("border-color", "lightgray"); 

					wsSubmit.send(media);

					wsSubmit.send(JSON.stringify({
						"issue": issue,
						"location": location, 
						"description": description,
						"extension": extension,
						"anonymous": anonymous,
						"public-key": pubKey,
						"private-key": privKey,
					}));
				};

				wsSubmit.onmessage = function(msg) {
					// $("#submit-msg").show(100, "linear").html(msg.data);
					console.log(msg.data);
				};

				wsSubmit.onclose = function() {
					console.log("submit-form socket closed");
				};	
			};
		});

		// Resolve form 

		var wsResolve = new WebSocket ("ws://localhost:8888/resolve-form");

		var formID = "";

		$("#resolve").bind("click", function() {
			if (user == "admin") {
				formID = $("#formID").val();
				if (formID.length == 0) {
					$("#formID").attr("placeholder", "enter form ID");
				} else {
					wsResolve.send(JSON.stringify({
						"form-ID": formID,
						"public-key": pubKey,
						"private-key": privKey,
					}));
				};
			};
		});

		wsResolve.onmessage = function(msg) {
			// $("#resolve-msg").show(100, "linear").html(msg.data)
			console.log(msg.data)
		};

		wsResolve.onclose = function() {
			console.log("resolve-form socket closed");
		};
	}
</script>
{{end}}