{{define "base"}}
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/bootstrap-select.css" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/static/js/jquery-1.12.2.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap-select.js"></script>
		<script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
		<style type="text/css">
		<style type="text/css">
			html,
			body {
				height: 100%
			}
		</style>
		{{template "head" .}}
	</head>
	<body>
		<br>
		<div class="container" style="align: center;">
			{{template "body" .}}
		</div>
	</body>
</html>
{{end}}