{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<p>Enter passphrase</p>
		<textarea id="passphrase" class="my-textarea"></textarea><br><br>
		<button type="button" id="create-account" class="my-button">create account</button><br><br>
		<p id="keys" style="display: hidden;"></p>
	</div>
	<script type="text/javascript">
		$(function() {
			var socket = io();
			$('#create-account').bind('click', function() {
				var passphrase = $('#passphrase').val();
				socket.emit('create-account', passphrase)
				socket.on('keys-msg', function(msg) {
					$('#keys').show(100, "linear").html(msg)
				})
			})
		})
	</script>
{{end}}