{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<h5 class="my-header">secret</h5>
		<input type="password" id="secret" class="my-input"></input>
		<br><br>
		<h5 class="my-header" id="pubKey-label">public key</h5>
		<input type="text" id="pubKey" class="my-input"></input>
		<br><br>
		<h5 class="my-header">private key</h5>
		<input type="password" id="privKey" class="my-input"></input>
		<br><br>
		<button type="button" id="create-admin" class="my-button">create admin</button>
		<br><br>
		<p id="create-admin-msg" style="display: hidden;"></p>
	</div>
	<script type="text/javascript">
		$(function() {
			var socket = io();
			$('#create-admin').bind('click', function() {
				var valid_entry = true;
				var pubKeyString = $('#pubKey').val();
				if (pubKeyString.length == 0) {
					$('#pubKey-label').html("<span style='color:red;'>enter public key</span>"); 
					valid_entry = false;
				}
				var privKeyString = $('#privKey').val();
				if (privKeyString.length == 0) {
					$('#privKey-label').html("<span style='color:red;'>enter private key</span>"); 
					valid_entry = false;
				}
				if (valid_entry) {
					$('#pubKey-label').html("<span style='color:black;'>public key</span>"); 
					$('#privKey-label').html("<span style='color:black;'>private key</span>");
					socket.emit('create-admin', pubKeyString, privKeyString)
					socket.on('create-admin-msg', function(msg) {
						$('#create-admin-msg').show(100, "linear").html(msg)
					})
				}
			})
		})
	</script>
{{end}}