{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<div class="container">
	<h5 class="my-header">department feeds</h5>
	<select id="dept-feed">
		<option value="">--</option>
		<option value="infrastructure">infrastructure</option>
		<option value="sanitation">sanitation</option>
	</select>
	<br><br>
	<ul></ul>
</div>
<script type="text/javascript">
	$(function() {
		var socket = io();
		var depts = $.map($('#dept-feed option'), function(opt) {
			if (opt.value.length > 0) {
				return opt.value;
			}
		})
		$("#dept-feed").on("change", function() {
			$("ul").html("");
			$("ul").attr("id", $("#dept-feed").val());
		})
		$.map(depts, function(dept) {
			return socket.on(dept + "-update", function(update) {
				if ($("ul").attr("id") == dept) {
					$("ul").append(update);
				}
			})
		})
	})
</script>
{{end}}