{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<h5 class="my-header">public key</h5>
		<input type="text" id="pubkey" class="my-input"></input>
		<br><br>
		<h5 class="my-header">passphrase</h5>
		<input type="password" id="passphrase" class="my-input"></input>
		<br><br>
		<button type="button" id="remove-account" class="my-button">remove account</button>
		<br><br>
		<p id="remove"></p>
	</div>
	<script type="text/javascript">
		$(function() {
			var socket = io();
			$('#remove-account').bind('click', function() {
				var pubKeyString = $('#pubkey').val();
				var passphrase = $('#passphrase').val();
				socket.emit('remove-account', pubKeyString, passphrase)
				socket.on('remove-msg', function(msg) {
					$('#remove-msg').html(msg)
				})
			})
		})
	</script>
{{end}}