{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<p>Enter public key</p>
		<input type="text" id="public-key" class="my-input"></input>
		<br><br>
		<p>Enter private key</p>
		<input type="text" id="private-key" class="my-input"></input>
		<br><br>
		<button type="button" id="remove-admin" class="my-button">remove admin</button>
		<br><br>
		<p id="remove-msg"></p>
	</div>
	<script type="text/javascript">
		$(function() {
			var socket = io();
			$('#remove-admin').bind('click', function() {
				var pubKeyString = $('#public-key').val();
				var privKeyString = $('#private-key').val();
				socket.emit('remove-admin', pubKeyString, privKeyString)
				socket.on('admin-remove-msg', function(msg) {
					$('#remove-msg').html(msg)
				})
			})
		})
	</script>
{{end}}