{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<p>Enter public key</p>
		<textarea id="public-key"></textarea>
		<p>Enter private key</p>
		<textarea id="private-key"></textarea>
		<button type="button" id="remove-account">remove account</button>
		<p id="remove-msg"></p>
	</div>
	<script type="text/javascript">
		$(function() {
			var socket = io();
			$('#remove-account').bind('click', function() {
				var pubKeyString = $('#public-key').val();
				var privKeyString = $('#private-key').val();
				socket.emit('remove-account', pubKeyString, privKeyString)
				socket.on('remove-msg', function(msg) {
					$('#remove-msg').text(msg)
				})
			})
		})
	</script>
{{end}}