{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<p id="formID-label">Form ID</p>
		<input type="text" id="formID" class="my-input"></input>
		<br><br>
		<p id="pubkey-label">Public Key</p>
		<input type="text" id="pubkey" class="my-input"></input>
		<br><br>
		<p id="privkey-label">Private Key</p>
		<input type="text" id="privkey" class="my-input"></input>
		<br><br>
		<button type="button" id="resolve" class="my-button">resolve</button>
		<br><br>
		<p id="resolve-msg"></p>
	</div>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		var socket = io();
		$('#resolve').bind('click', function() {
			var valid_entry = true
			var _formID = $('#formID').val();
			if (_formID.length == 0) {
				$('#formID-label').html("<span style='color:red;'>Enter Form ID</span>"); 
				valid_entry = false;
			}
			var pubKeyString = $('#pubkey').val();
			if (pubKeyString.length == 0) {
				$('#pubkey-label').html("<span style='color:red;'>Enter Public Key</span>"); 
				valid_entry = false;
			}
			var privKeyString = $('#privkey').val();
			if (privKeyString.length == 0) {
				$('#privkey-label').html("<span style='color:red;'>Enter Private Key</span>"); 
				valid_entry = false;
			}
			if (valid_entry) {
				$('#formID-label').html("<span style='color:black;'>Form ID</span>"); 
				$('#pubkey-label').html("<span style='color:black;'>Public Key</span>"); 
				$('#privkey-label').html("<span style='color:black;'>Private Key</span>"); 
				socket.emit('resolve-form', _formID, pubKeyString, privKeyString)
				socket.on('resolve-msg', function(msg){
					$('#resolve-msg').html(msg)
				})
			}
			// redirect
		})
	})
	</script>

{{end}}