{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<h5 class="my-header" id="formID-label">form ID</h5>
		<input type="text" id="formID" class="my-input"></input>
		<br><br>
		<h5 class="my-header" id="pubkey-label">public key</h5>
		<input type="text" id="pubkey" class="my-input"></input>
		<br><br>
		<h5 class="my-header" id="passphrase-label">passphrase</h5>
		<input type="password" id="passphrase" class="my-input"></input>
		<br><br>
		<button type="button" id="resolve" class="my-button">resolve</button>
		<br><br>
		<p id="resolve-msg"></p>
	</div>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		var socket = io();
		$('#resolve').bind('click', function() {
			var valid_entry = true
			var _formID = $('#formID').val();
			if (_formID.length == 0) {
				$('#formID-label').html("<span style='color:red;'>enter form ID</span>"); 
				valid_entry = false;
			}
			var pubKeyString = $('#pubkey').val();
			if (pubKeyString.length == 0) {
				$('#pubkey-label').html("<span style='color:red;'>enter public key</span>"); 
				valid_entry = false;
			}
			var passphrase = $('#passphrase').val();
			if (passphrase.length == 0) {
				$('#passphrase-label').html("<span style='color:red;'>enter passphrase</span>"); 
				valid_entry = false;
			}
			if (valid_entry) {
				$('#formID-label').html("<span style='color:black;'>form ID</span>"); 
				$('#pubkey-label').html("<span style='color:black;'>public key</span>"); 
				$('#passphrase-label').html("<span style='color:black;'>passphrase</span>"); 
				socket.emit('resolve-form', _formID, pubKeyString, passphrase)
				socket.on('resolve-msg', function(msg){
					$('#resolve-msg').html(msg)
				})
			}
			// redirect
		})
	})
	</script>

{{end}}