{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class='col-sm-6'>
		<h5 class="my-header">before</h5>
        <div class="form-group">
            <div class='input-group date' id='before'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#before').datetimepicker();
            });
        </script>
		<br><br>
		<h5 class="my-header">after</h5>
            <div class="form-group">
            <div class='input-group date' id='after'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#after').datetimepicker();
            });
        </script>
		<br><br>
		<h5 class="my-header">service</h5>
		<select id="service">
			<option value="">--</option>
			<option value="street light out">street light out</option>
			<option value="pothole in street">pothole in street</option>
			<option value="rodent baiting/rat complaint">rodent baiting/rat complaint</option>
			<option value="tree trim">tree trim</option>
			<option value="garbage cart black maintenance/replacement">garbage cart black maintenance/replacement</option>
		</select> 
		<br><br>
		<h5 class="my-header">address</h5>
		<input id="address" class="my-input"></input>
		<br><br>
		<!--
		<h5 class="my-header" id="specfield-label" style="display:hidden;"></h5>
		<select id="specfield" style="display:hidden;"></select>
		<br><br>
		-->
		<h5 class="my-header">status</h5>
		<select id="status">
			<option value="">--</option>
			<option value="unresolved">unresolved</option>
			<option value="resolved">resolved</option>
		</select>
		<br><br>
		<h5 class="my-header">public key</h5>
		<input type="text" id="pubkey" class="my-input"></input>
		<br><br>
		<h5 class="my-header">passphrase</h5>
		<input type="password" id="passphrase" class="my-input"></input>
		<br><br>
		<button type="button" id="search" class="my-button">search</button>
		<br><br>
		<p id="forms-error"></p>
	</div>
	<div class="col-sm-6">
		<ul id="forms"></ul>
	</div>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		var socket = io();
		/*
		$('#type').on('change', function() {
			socket.emit('select-type', $('#type').val())
			socket.on('field-options', function(field, options) {
				$('#specfield-label').show(100, 'linear').html(field);
				$('#specfield').show(100, 'linear').html(options);
			})
		})
		*/
		$('#search').bind('click', function() {
			var valid_entry = true;
			var before = $('#before').data("DateTimePicker").viewDate();
			var after = $('#after').data("DateTimePicker").viewDate();
			var service = $('#service').val();
			var address = $('#address').val();
			// var specfield = $('#specfield').val();
			var status = $('#status').val();
			var pubKeyString = $('#pubkey').val();
			if (pubKeyString.length == 0) {
				$('#pubkey-label').html("<span style='color:red;'>enter public key</span>"); 
				valid_entry = false;
			}
			var passphrase = $('#passphrase').val();
			if (passphrase.length == 0) {
				$('#passphrase-label').html("<span style='color:red;'>enter passphrase</span>"); 
				valid_entry = false;
			}
			if (valid_entry) {
				$('#pubkey-label').html("<span style='color:black;'>public key</span>"); 
				$('#passphrase-label').html("<span style='color:black;'>passphrase</span>"); 
				socket.emit('search-forms', before, after, service, address, status, pubKeyString, passphrase)
				socket.on('forms-msg', function(msg, success){
					if (!success) {
						$('#forms-error').html(msg)
					} else {
						for (var f = 0; f < msg.length; f++) { // msg[f] is form
							$('#forms').append(msg[f]);
						}
					}
				})
			}
			// redirect
		})
	})
	</script>

{{end}}