{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<p id="message-label">Message</p>
			<textarea id="message" class="my-textarea"></textarea>
		<br><br>
		<select id="sendTo">Send-To
			<option value="msgBoard">Message Board</option>
		</select>
		<br><br>
		<p id="pubkey-label">Public Key</p>
			<input type="text" id="pubkey" class="my-input"></input>
		<br><br>
		<p id="privkey-label">Private Key</p>
			<input type="text" id="privkey" class="my-input"></input>
		<br><br>
		<button type="button" id="send" class="my-button">send</button>
		<br><br>
		<p id="outcome"></p>
	</div>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		var socket = io();
		$('#send').bind('click', function() {
			var valid_entry = true;
			var message = $('#message').val();
			if (message.length == 0) {
				$('#message-label').html("<span style='color:red;'>Enter Message</span>"); 
				valid_entry = false;
			}
			var sendTo = $('#sendTo').val();
			if (sendTo.length == 0) {
				$('#sendTo-label').html("<span style='color:red;'>Enter Send-To</span>")
				valid_entry = false;
			}	
			var pubKeyString = $('#pubkey').val();
			if (pubKeyString.length == 0) {
				$('#pubkey-label').html("<span style='color:red;'>Enter Public Key</span>"); 
				valid_entry = false;
			}
			var privKeyString = $('#privkey').val();
			if (privKeyString.length == 0) {
				$('#privkey-label').html("<span style='color:red;'>Enter Private Key</span>"); 
				valid_entry = false;
			}
			if (valid_entry) {
				$('#message-label').html("<span style='color:black;'>Message</span>");
				$('#sendTo-label').html("<span style='color:black;'>Send To</span>")
				$('#pubkey-label').html("<span style='color:black;'>Public Key</span>"); 
				$('#privkey-label').html("<span style='color:black;'>Private Key</span>");
				socket.emit('send-message', message, sendTo, pubKeyString, privKeyString)
				socket.on('message-outcome', function(msg){
					$('#outcome').html(msg)
				})
			}
		})
	})
	</script>

{{end}}