{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<p id="type-label">Service Type</p>
		<select id="type">
			<option value="street light out">street light out</option>
			<option value="pothole in street">pothole in street</option>
			<option value="rodent baiting/rat complaint">rodent baiting/rat complaint</option>
			<option value="tree trim">tree trim</option>
		</select> 

		<p id="address-label">Address</p>
		<textarea id="address"></textarea>

		<p id="description-label">Description</p>
		<textarea id="description"></textarea>

		<p id="specfield-label">Details</p>
		<textarea id="specfield"></textarea>

		<p id="pubkey-label">Public Key</p>
		<textarea id="pubkey"></textarea>

		<p id="privkey-label">Private Key</p>
		<textarea id="privkey"></textarea>

		<button type="button" id="submit">submit</button>

		<p id="formID"></p>
	</div>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		var socket = io();
		$('#submit').bind('click', function() {
			var valid_entry = true
			var _type = $('#type').val();
			if (_type.length == 0) {
				$('#type-label').html("<span style='color:red;'>Select Service Type</span>"); 
				valid_entry = false;
			}
			var _address = $('#address').val();
			if (_address.length == 0) {
				$('#address-label').html("<span style='color:red;'>Enter Address</span>"); 
				valid_entry = false;
			}
			var _description = $('#description').val();
			if (_description.length == 0) {
				$('#description-label').html("<span style='color:red;'>Enter Description</span>"); 
				valid_entry = false;
			}
			var _specfield = $('#specfield').val();
			if (_specfield.length == 0) {
				$('#specfield-label').html("<span style='color:red;'>Enter Details</span>");
				 valid_entry = false;
				}
			var _pubkey = $('#pubkey').val();
			if (_pubkey.length == 0) {
				$('#pubkey-label').html("<span style='color:red;'>Enter Public Key</span>"); 
				valid_entry = false;
			}
			var _privkey = $('#privkey').val();
			if (_privkey.length == 0) {
				$('#privkey-label').html("<span style='color:red;'>Enter Private Key</span>"); 
				valid_entry = false;
			}
			if (valid_entry) {
				$('#type-label').html("<span style='color:black;'>Service Type</span>"); 
				$('#address-label').html("<span style='color:black;'>Address</span>"); 
				$('#description-label').html("<span style='color:black;'>Description</span>"); 
				$('#specfield-label').html("<span style='color:black;'>Details</span>"); 
				$('#pubkey-label').html("<span style='color:black;'>Public Key</span>"); 
				$('#privkey-label').html("<span style='color:black;'>Private Key</span>"); 
				socket.emit('submit-form', _type, _address, _description, _specfield, _pubkey, _privkey)
				socket.on('return-formID', function(formID){
					$('#formID').html("The ID # for your service request is " + formID)
				})
			}
			// redirect
		})
	})
	</script>

{{end}}