{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<h5 class="my-header" id="service-label">service</h5>
		<select id="service">
			<option value="">--</option>
			<option value="street light out">street light out</option>
			<option value="pothole in street">pothole in street</option>
			<option value="rodent baiting/rat complaint">rodent baiting/rat complaint</option>
			<option value="tree trim">tree trim</option>
			<option value="garbage cart black maintenance/replacement">garbage cart black maintenance/replacement</option>
		</select>  
		<br><br>
		<h5 class="my-header" id="address-label">address</h5>
		<input service="text" id="address" class="my-input"></input>
		<br><br>
		<h5 class="my-header" id="description-label">description</h5>
		<textarea id="description" class="my-textarea"></textarea>
		<br><br>
		<h5 class="my-header" id="detail-label" style="display:hidden;"></h5>
		<select id="detail" style="display:hidden;"></select>
		<br><br>
		<h5 class="my-header" id="pubKey-label">public key</h5>
		<input service="text" id="pubKey" class="my-input"></input>
		<br><br>
		<h5 class="my-header" id="privKey-label">private key</h5>
		<input type="password" id="privKey" class="my-input"></input>
		<br><br>
		<button service="button" id="submit" class="my-button">submit</button>
		<br><br>
		<p id="submit-form-msg"></p>
	</div>
	<script service="text/javascript" charset="utf-8">
	$(function() {
		var socket = io();
		$('#service').on('change', function() {
			socket.emit('select-service', $('#service').val())
			socket.on('field-options', function(field, options) {
				$('#detail-label').show(100, 'linear').html(field);
				$('#detail').show(100, 'linear').html(options);
			})
		})
		$('#submit').bind('click', function() {
			var valid_entry = true
			var service = $('#service').val();
			if (service.length == 0) {
				$('#service-label').html("<span style='color:red;'>select service</span>"); 
				valid_entry = false;
			}
			var address = $('#address').val();
			if (address.length == 0) {
				$('#address-label').html("<span style='color:red;'>enter address</span>"); 
				valid_entry = false;
			}
			var description = $('#description').val();
			if (description.length == 0) {
				$('#description-label').html("<span style='color:red;'>enter description</span>"); 
				valid_entry = false;
			}
			var detail = $('#detail').val();
			var detail_label = $('#detail-label').text();
			if ((detail.length == 0) && (detail_label != "no options")) {
				$('#detail-label').html("<span style='color:red;'>select option</span>"); 
				valid_entry = false;
			}
			var pubKeyString = $('#pubKey').val();
			if (pubKeyString.length == 0) {
				$('#pubKey-label').html("<span style='color:red;'>enter public key</span>"); 
				valid_entry = false;
			}
			var privKeyString = $('#privKey').val();
			if (privKeyString.length == 0) {
				$('#privKey-label').html("<span style='color:red;'>enter private key</span>"); 
				valid_entry = false;
			}

			if (valid_entry) {
				$('#service-label').html("<span style='color:black;'>service</span>"); 
				$('#address-label').html("<span style='color:black;'>address</span>"); 
				$('#description-label').html("<span style='color:black;'>description</span>");
				$('#detail-label').html("<span style='color:black;'>" + detail_label + "</span>");
				$('#pubKey-label').html("<span style='color:black;'>public key</span>"); 
				$('#privKey-label').html("<span style='color:black;'>private key</span>"); 
				socket.emit('submit-form', service, address, description, detail, pubKeyString, privKeyString)
				socket.on('submit-form-msg', function(msg){
					$('#submit-form-msg').html(msg)
				})
			}
			// redirect
		})
	})
	</script>

{{end}}