{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<p id="type-label">Service Type</p>
		<select id="type">
			<option value="">--</option>
			<option value="street light out">street light out</option>
			<option value="pothole in street">pothole in street</option>
			<option value="rodent baiting/rat complaint">rodent baiting/rat complaint</option>
			<option value="tree trim">tree trim</option>
		</select> 
		<br><br>
		<p id="address-label">Address</p>
		<input type="text" id="address" class="my-input"></input>
		<br><br>
		<p id="description-label">Description</p>
		<textarea id="description" class="my-textarea"></textarea>
		<br><br>
		<p id="specfield-label" style="display:hidden;"></p>
		<select id="specfield" style="display:hidden;"></select>
		<br><br>
		<p id="pubkey-label">Public Key</p>
		<input type="text" id="pubkey" class="my-input"></input>
		<br><br>
		<p id="privkey-label">Private Key</p>
		<input type="text" id="privkey" class="my-input"></input>
		<br><br>
		<button type="button" id="submit" class="my-button">submit</button>
		<p id="formID"></p>
	</div>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		var socket = io();
		$('#type').on('change', function() {
			socket.emit('select-type', $('#type').val())
			socket.on('field-options', function(field, options) {
				$('#specfield-label').show(100, 'linear').html(field);
				$('#specfield').show(100, 'linear').html(options);
			})
		})
		$('#submit').bind('click', function() {
			var valid_entry = true
			var _type = $('#type').val();
			if (_type.length == 0) {
				$('#type-label').html("<span style='color:red;'>Select Service Type</span>"); 
				valid_entry = false;
			}
			var _address = $('#address').val();
			if (_address.length == 0) {
				$('#address-label').html("<span style='color:red;'>Enter Address</span>"); 
				valid_entry = false;
			}
			var _description = $('#description').val();
			if (_description.length == 0) {
				$('#description-label').html("<span style='color:red;'>Enter Description</span>"); 
				valid_entry = false;
			}
			var _specfield = $('#specfield').val();
			var pubKeyString = $('#pubkey').val();
			if (pubKeyString.length == 0) {
				$('#pubkey-label').html("<span style='color:red;'>Enter Public Key</span>"); 
				valid_entry = false;
			}
			var privKeyString = $('#privkey').val();
			if (privKeyString.length == 0) {
				$('#privkey-label').html("<span style='color:red;'>Enter Private Key</span>"); 
				valid_entry = false;
			}
			if (valid_entry) {
				$('#type-label').html("<span style='color:black;'>Service Type</span>"); 
				$('#address-label').html("<span style='color:black;'>Address</span>"); 
				$('#description-label').html("<span style='color:black;'>Description</span>");
				$('#pubkey-label').html("<span style='color:black;'>Public Key</span>"); 
				$('#privkey-label').html("<span style='color:black;'>Private Key</span>"); 
				socket.emit('submit-form', _type, _address, _description, _specfield, pubKeyString, privKeyString)
				socket.on('formID-msg', function(msg){
					$('#formID').html(msg)
				})
			}
			// redirect
		})
	})
	</script>

{{end}}