{{define "head"}}
	<title>{{ .Title}}</title>
{{end}}

{{define "body"}}
	<div class="container">
		<p>Service Type</p>
		<textarea id="type"></textarea> 
	</div>
	<div class="container">
		<p>Address</p>
		<textarea id="address"></textarea>
	</div>
	<div class="container">
		<p>Description</p>
		<textarea id="description"></textarea>
	</div>
	<div class="container">
		<p>Details</p>
		<textarea id="spec-field"></textarea>
	</div>
	<div class="container">
		<p>Private Key</p>
		<textarea id="private-key"></textarea>
	</div>
	<div class="container">
		<button type="button" id="submit">submit</button>
	</div>

	<script type="text/javascript" charset="utf-8">
	$(function() {
		var socket = io();
		$('#submit').bind('click', function() {
			var t = $('#type').val();
			var a = $('#address').val();
			var d = $('#description').val();
			var sf = $('#spec-field').val();
			var pk = $('#private-key').val();
			socket.emit('submit-form', t, a, d, sf, pk)
			// redirect
		})
	})
	</script>

{{end}}